@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

@import "tailwindcss";

@theme inline {
  /* === Break Point */
  --breakpoint-md: 744px;
  --breakpoint-lg: 1400px;

  /* === Base Colors === */
  --color-white: #ffffff;
  --color-black: #000000;

  /* === Black === */
  --color-black100: #1b1b1b;
  --color-black80: #2e2e2e;
  --color-black60: #6f6f6f;
  --color-black40: #9f9f9f;
  --color-black20: #e2e2e2;
  --color-black10: #f6f6f6;

  /* === Gray === */
  --color-gray100: #fafafa;
  --color-gray80: #f0f0f0;
  --color-gray60: #d9d9d9;
  --color-gray40: #bfbfbf;
  --color-gray20: #8c8c8c;
  --color-gray10: #595959;

  /* === Blue === */
  --color-blue100: #e6f3ff;
  --color-blue80: #b3d9ff;
  --color-blue60: #66b2ff;
  --color-blue40: #198cff;
  --color-blue20: #0066cc;
  --color-blue10: #003366;
}
